Reports/
Results/
lost+found/
*.keep
*.keep.*
*.csproj.DotSettings
*.ccexclude
*.suo
target/
build.csproj
BUILDINFO.cs
build.vcxproj
buildversion.rc
*.ncrunchsolution
*.ncrunchproject
.repository/
.DS_Store
buildx64.vcxproj
buildx86.vcxproj
Thumbs.db
[Bb]in
obj/
*.suo
*.lib
*.sbr
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
.vs
*.bak
*.cache
*.ilk
*.log
*.resharper
Debug*/
Release*/
_ReSharper*/
*.4.5.resharper.user
[Tt]est[Rr]esult*
*.orig
*.gpState
*-Results.xml
lib/
vs2017path.txt

Google.credentials.json
