<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SyncWhole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SyncWhole.Properties.Settings>
            <setting name="CalendarSource" serializeAs="String">
                <value>O</value>
            </setting>
            <setting name="CalendarDestination" serializeAs="String">
                <value>Gtoken.json</value>
            </setting>
            <setting name="SyncInterval" serializeAs="String">
                <value>00:15:00</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>Info</value>
            </setting>
        </SyncWhole.Properties.Settings>
    </userSettings>
</configuration>